<app-header class="sticky top-0" style="z-index: 1"></app-header>
<div class="bg-[#e2e6ba]">
  <div class="p-4">
    <p
      class="fixed bg-[#e2e6ba] rounded-lg text-lg font-semibold text-gray-700"
      style="z-index: 0"
    >
      Workspaces
    </p>
  </div>
  <div class="p-4 md:flex md:flex-wrap" *ngIf="boards$ | async as boards">
    <div
      *ngFor="let item of boards"
      class="max-w-sm m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-1/3"
    >
      <a>
        <img class="rounded-t-lg" src="{{ item.backGroundImage }}" alt="" />
      </a>
      <div class="p-5">
        <a>
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Workspace:
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ item.boardname }}
        </p>
        <a
          (click)="expandWorkspace(item.boardname)"
          class="cursor-pointer inline-flex items-center md:px-3 md:py-2 text-sm font-medium text-center text-gray-900 bg-[#f2ff61] rounded-lg hover:bg-yellow-300 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          View Workspace
          <svg
            class="hidden md:block rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
